<div class="container mt-4">
  <h2>Edit Doctor</h2>
  <%= form_with(model: @doctor, local: true) do |form| %>
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :email %>
      <%= form.email_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :password %> (<i>leave blank if you don't want to change it</i>)
      <%= form.password_field :password, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.submit 'Update', class: 'btn btn-primary' %>
    </div>
  <% end %>
  <%= link_to 'Back', doctors_path, class: 'btn btn-secondary' %>
</div>
