<!DOCTYPE html>
<html>
  <head>
    <title>HospitalSyncApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">HospitalSyncApp</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <% if doctor_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Patients', patients_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Edit Profile', edit_doctor_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign Out', destroy_doctor_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Sign In', new_doctor_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign Up', new_doctor_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <% if notice %>
        <div class="alert alert-info"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>
